body {
    background-image: url(img2/Restaurant-Background.jpg);
    background-size: cover;
    overflow: hidden;
}

.s {
}

p {
    color: #222831;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-right: 7%;
    margin-left: 7%;
}

h1 {
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: -5%;
    color: #003f5c;
    text-align: center;
    font-family: serif;
    font-size: 60px;
    text-decoration: underline;
}
